.construct-message{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.construct-message h1{
    font-size: 70px;
    font-family: "Red Rose";
    font-style: normal;
    font-weight: 700;
    color: black;
    letter-spacing: 2px;
}

.construct-message p{
    font-family: "Red Rose";
    font-style: normal;
    font-size: 20px;
    text-align: center;
    letter-spacing: 1.5px;
}
